
.mainNavbar{
    transition: top 0.3s ease;
    z-index: 1000;
}

.underline-hover {
  position: relative;
  text-decoration: none;
}

.underline-hover::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.content-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px; 
    padding-bottom: 60px;
    position: relative;
    z-index: 10
}

.content-box {
    background: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);

    border-radius: 20px;
    padding: 40px;
    max-width: 900px;
    width: 90%;

    color: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.card{
    border: none;
}

.card::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 7px;
    height: 100%;
    background:  radial-gradient(circle,rgba(192, 192, 192, 1) 0%, rgba(115, 111, 109, 1) 100%);
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    border-radius: 6px;
}

.card:hover::before{
    width: 100%;
    
}



@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
    position: fixed;
    inset: 0;
    z-index: 0;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: 0;
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 1) 14%, rgba(192, 192, 192, 1) 51%, rgba(115, 111, 109, 1) 100%);
}
 
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.cards{
    margin-top: 400px;
    padding: 20px;
}
             